@media screen and (orientation: portrait) {
  .menu {
    display: flex;
    align-items: center;
    margin: 0;
    position: absolute;
    height: 50px;
    width: 100vw;
    top: 0;
  
    /* background-color: rgb(255, 255, 255); */
     box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    cursor: pointer;
  }
}

@media screen and (orientation: landscape) {
  .menu {
     display: flex;
      align-items: center;
     justify-content: center;
    margin: 0;
    position: absolute;
    height: 50px;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
     box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    cursor: pointer;
  }
}
