@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page {
  width: 100%;
  display: flex;
  flex-flow: column;
  height: calc(100vh - 50px);
  animation: myAnim 300ms ease 0s 1 normal forwards;
  overflow-y: scroll;
  margin-top: 5px;
}

.content_panel {
  height: calc(80vh - 50px);
  display: grid;
  padding: 20px;
  padding-bottom: 60px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  box-sizing: border-box;
}

.menu {
  grid-area: menu;
  display: flex;
  height: 50px;
 
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 100%;
  padding: 0 20px;
  /* background-color: green; */
  box-sizing: border-box;
  margin: 0;
}

.createButton {
  border: none;
  background-color: #2d333e;

  color: white;
  font-weight: bold;
  font-size: small;
  border-radius: 5px;
  min-width: 100px;
  height: fit-content;
  padding: 10px 3px;
  /* box-shadow: 0px 0px 2px 0px rgb(205, 205, 205); */
  text-decoration: none;
  
}

.createButton:hover {
  background-color: #535867;
}

.project_item {
  width: 100%;
 
  height: 200px;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  overflow: hidden;
}

.thumb {
  background-color: rgb(29, 38, 46);
  min-height: 1fr;
  width: 100%;
  height: 70%;
}

.titleContainer {
  /* position: absolute; */
  padding: 10px;
  height: 30%;
  background-color: rgb(238, 238, 238);

}

.title {
  text-align: start;
  margin:0;
  font-size: medium;
   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  white-space: nowrap;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(71, 71, 71);
  margin:0;
  font-size: smaller;
}

.post:hover {
      box-shadow: 0 0 5px 7px rgb(218, 218, 218);
}




.emptyBar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .menu {
    grid-area: menu;
    display: flex;
    flex-flow: column;
    height: 50px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* background-color: blueviolet; */
    box-sizing: border-box;
  }

  .createButton {
    border: none;
    background-color: #2d333e;
    /* box-shadow: 0 0 2px 1px rgb(230, 230, 230); */
    color: white;
    font-weight: bold;
    font-size: small;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    padding: 15px 3px;
    box-shadow: 0px 0px 2px 0px rgb(205, 205, 205);
    text-decoration: none;
   
  }

}
