.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    padding: 0;
    overflow-y:scroll;
    
}

.title {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
}

section {
    display: flex;
    flex-flow: column;
    width: fit-content;
    height: fit-content;
}

.tabpanel {
    display: flex;
    justify-content: space-around;
    
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 400px;
    box-sizing: border-box;
    
}

.link {
    color: rgb(51, 51, 51);
    font-size: 1rem;
    text-decoration: underline;
}

.link:hover {
    color: orange;
    cursor: grab;
}

.login-form .title {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}


.label {
    margin-top: 20px;
    width: 100%;
    text-align: start;
    color: grey;
}

.inputHolder {
    margin-top:20px;
    background-color: #efefef;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}

.input {
    display: flex;
    border: none;
    color: #000a47;
    font-size: 1rem;
    outline: 0;
    background-color: transparent;
    position: relative;
    width: 100%;
}

.submit {
    background-color:#2D333E;
    border: 0;
    border-radius: 0.4rem;
    width: 100%;
    margin-top: 40px;
    color: white;
   
    padding: 15px 50px;

}

.submit:hover {
    background-color:#535867 ;
}

@media screen and (max-width: 600px) {
    form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 400px;
    box-sizing: border-box;
    
}
}