 .active {
     background-color: rgb(228, 228, 228);
    padding: auto;
    font-weight: bold;
    color: black;
  }

  .noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }





@media screen and (max-width: 600px) {
  .main {
    display: grid;
    grid-template:
      "menubar" 50px
      "panel" auto
      "nav" 50px;
    overflow: hidden;
    padding: 0;
    height: 100vh;
  }

  .menubar {
    grid-area: menubar;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .panel {
    grid-area: panel;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    width: 100%;
  }

  nav {
    grid-area: nav;
    display: flex;
    flex-flow: row;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px solid #dddddd;
    position: absolute;
    bottom: 0;
    background-color: white;
  }

  .navItem {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: auto;
  }

  
 
 .label {
    color: gray;
    text-align: center;
  }

  .navItem:hover {
    background-color: rgb(228, 228, 228);
  }
}

@media screen and (min-width: 601px) { /*Desktop*/
 .main {
    display: grid;
    grid-template:
      "menubar menubar menubar " 50px
      "nav  panel panel" calc(100vh - 50px)
      / 200px 1fr 1fr;
    height: 100vh;
    
    
  }

  .menubar {
    grid-area: menubar;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row ;
    align-items: center;
  }

  .menubar h2 {
    margin-left: 50px;
  }
 

  .panel {
    grid-area: panel;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

   nav {
    grid-area: nav;
    display: flex;
    flex-flow: column;
    width: 200px;
    border-right: 1px solid #dddddd;
    z-index: 1;
  }

  .navItem {
    width: 100%;
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    
  }

  .label {
    width: fit-content;
    color: gray;
    text-align: start;
    align-items: center;
    margin: 0px 0px 0px 20px;
  }

  .navItem.active {
    background-color: #f1f1f1;
    border-right: 5px solid #8b56fc;
    padding: auto;
  }


  .navItem:hover {
    background-color: rgb(228, 228, 228);
  }
}
