 .active {
     background-color: #e4e4e4;
    padding: auto;
    font-weight: bold;
    color: black;
  }

  .main{
    padding: 0;
    margin: 0;
  }

  .noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.icon {
  width:24px;
  height: 24px;
}


.searchbar {
  background-color: #ebebeb;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 350px;
 
}


  .searchInput {
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.searchIcon {
  width: 20px;
  height: 20px;
}


@media screen and (max-width: 600px) {
  .main {
    display: grid;
    grid-template:
      "menubar" 50px
      "panel" auto
      "nav" 50px;
    overflow: hidden;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
  }

  .menubar {
    grid-area: menubar;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    z-index: 1;
height: 50px;
    position: absolute;

      
  }

  .searchbar {
 background-color: transparent;
 width: fit-content;
 height: fit-content;
 padding: 0px;
 margin-right: 20px;
  position: absolute;
  right: 0;
}

  .searchInput {
  display: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

  .panel {
    grid-area: panel;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    width: 100vw;
    overflow-y: scroll;
  }

  .nav {
    grid-area: nav;
    display: flex;
    flex-flow: row;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px solid #dddddd;

    position: fixed;
    bottom: 0;
    background-color: white;
  }

  .navItem {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
  }

  
 
 .label {
    color: gray;
    text-align: center;
    margin:0;
    font-size: small;
  }

  .navItem:hover {
    background-color: rgb(228, 228, 228);
  }
}




 /*Desktop*/

@media screen and (min-width: 601px) {
 .main {
    display: grid;
    grid-template:
      "menubar menubar menubar " 50px
      "nav  panel panel" 100vh 
      / 80px 1fr 1fr;
    height: 100vh;
    background-color: #F9F9F9;
    
  }

  .menubar {
    grid-area: menubar;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    align-items: center;
     box-shadow: 0 0 2px 1px rgb(230, 230, 230);
     z-index: 1;
  }

  .menubar h2 {
    margin-left: 50px;
  }
 

  .panel {
    grid-area: panel;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    height: 100vh;
  }

   .nav {
    grid-area: nav;
    display: flex;
    flex-flow: column;
    border-right: 1px solid #dddddd;
    align-items: center;
    padding-top: 50px;
  }

  .navItem {
    display: flex;
    flex-flow: column;
    width: 50px;
    cursor: pointer;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }

  .label {
    width: fit-content;
    color: gray;
   
    align-items: center;
    margin: 0px;
font-size: small;

  }

  /* .navItem.active {
    background-color: #f1f1f1;
    border-right: 5px solid #8b56fc;
    padding: auto;
  } */


  .navItem:hover {
    background-color: #e4e4e4;
  }
}
