.storePage {
  height: 100vh;
  width: 100%;
  animation: myAnim 100ms ease 0s 1 normal forwards;
  background-color: #f9f9f9;
  overflow-y: scroll;
}

.topBar {
   height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: forwards;
  transition: ease-in;
  transition-delay: 1s;
  margin: 5px 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.emptyBar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
