@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.explorePage {
  height: 100vh;
  width: 100%;
  animation: myAnim 300ms ease 0s 1 normal forwards;
  background-color: #f9f9f9;
  overflow-y: scroll;
}

.topBar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: forwards;
  transition: ease-in;
  transition-delay: 1s;
  margin: 5px 0;
  padding: 0 20px;
  box-sizing: border-box;
  /* background-color: blue; */
}

 .post {
   width: 100%;
  height: 200px;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  overflow: hidden;
  }

.postThumb {
  background-color: rgb(29, 38, 46);
  min-height: 1fr;
  width: 100%;
  height: 70%;
}

.postTitleContainer {
   padding: 10px;
  height: 30%;
  background-color: rgb(238, 238, 238);
}


.postTitle {
   text-align: start;
  margin:0;
   white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postDescription {
  white-space: nowrap;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(71, 71, 71);
  margin:0;
}

.post:hover {
      box-shadow: 0 0 5px 7px rgb(218, 218, 218);
}



.footerNav {
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .articlepane {
    height: fit-content;
    display: grid;
    padding: 20px;
    padding-bottom: 60px;
    gap: 30px;
    overflow-x: hidden;
    /* height: fit-content; */
  }

 
  
}

@media screen and (min-width: 601px) {
  .articlepane {
    height: fit-content;
    display: grid;
    padding: 20px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    flex: 1;

  }

 
}
