@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.explorePage {
  height: 100vh;
  width: 100%;
  animation: myAnim 100ms ease 0s 1 normal forwards;
  background-color: #f9f9f9;
  overflow-y: scroll;
}

.topBar {
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: forwards;
  transition: ease-in;
  transition-delay: 1s;
  padding-top: 5px;
}

.postThumb {
  background-color: rgb(29, 38, 46);
  min-height: 200px;
  max-height: 100%;
  width: 100%;
}

.postTitleContainer {
  padding: 10px;
  width: 100%;
  height: 100px;
}

.postTitle {
  text-align: start;
}

.postDescription {
  white-space: nowrap;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(71, 71, 71);
}

.post:hover {
      box-shadow: 0 0 5px 7px rgb(218, 218, 218);
}

.footer{

}

.footerNav {
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .articlepane {
    height: fit-content;
    display: grid;
    padding: 20px;
    padding-bottom: 60px;
    gap: 30px;
    overflow-x: hidden;
    /* height: fit-content; */
  }

  .post {
    min-height: 50vh;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-self: center;
    overflow: hidden;
   
  }

  .postTitleContainer {
    padding: 10px;
    width: 100%;
    height: 100px; 
  }
}

@media screen and (min-width: 601px) {
  .articlepane {
    height: fit-content;
    display: grid;
    padding: 20px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    flex: 1;

  }

  .post {
    min-height: 300px;
    max-height: 300px;
    height: 100%;

    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }
}
