.framesContainer {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  
}

.framesContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.framesContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (orientation: portrait) {
  .timeline {
    grid-area: timeline;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 70px;
    width: 100vw;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 100px;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
@media screen and (orientation: landscape) {
  .timeline {
    grid-area: timeline;
    display: flex;
    flex-flow: row;
    align-items: center; 
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    height: 80px;
    padding: 0px;
    width: 60vw;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 2px 1px rgb(230, 230, 230);
  }
}

