@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.explorePage {
  height: 100%;
  width:100%;
  animation: myAnim 100ms ease 0s 1 normal forwards;
}

.topBar {
  margin:0;
  height: 50px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: forwards;
  transition: ease-in;
  transition-delay: 1s;
}

.searchbar {
  background-color: rgb(243, 243, 243);
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 250px;
}

.searchInput {
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.articlepane {
    background-color: rgb(245, 245, 245);
    height:calc(90vh - 50px) ;
    display: grid;
    gap: 10px;
    grid-row: 1;
    grid-auto-flow: row;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding-top: 20px;
}

.post {
    width: 60vw;
    height:40vw;
    box-shadow: 0 0 5px 3px rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    
}

.postThumb {
  background-color: rgb(29, 38, 46);
  height: 100% ;
  width: 100%;
}

.postTitleContainer {
  padding: 10px;
}

.postTitle {
 text-align: start;
}

.postDescription {
white-space: nowrap;
 text-align: start;
 text-overflow: ellipsis;
 overflow: hidden;
 color: rgb(71, 71, 71);
}

@media screen and (max-width: 600px) {
  .topBar {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0px 20px 10px 20px;
    align-items: flex-start;
  
    height: fit-content;
    
  }

  .topBar h1 {
    margin: 0;
    padding: 3px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
  }

  .searchbar {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    
  }

  .articlepane {
    background-color: rgb(245, 245, 245);
    height:calc(80vh - 50px) ;
    display: grid;
    gap: 10px;
    grid-row: 1;
    grid-auto-flow: row;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 20px;
    

}

  .post {
    width : 90vw;
    height: 90vw;
    box-shadow: 0 0 5px 3px rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}
}
 