@media screen and (orientation: portrait) {
  .toolbar {
    grid-area: toolbar;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    position: absolute;
    box-shadow: 0 0 5px 3px rgb(211, 211, 211);
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
  }
}

@media screen and (orientation: landscape) {
  .toolbar {
    grid-area: toolbar;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    position: absolute;
    box-shadow: 0 0 5px 3px rgb(211, 211, 211);
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}
