@media screen and (orientation: portrait) {
  .toolbar {
    grid-area: toolbar;
    margin: 0;
    padding: 0;
    width:100vw;
    max-height: 40%;
    overflow-x: scroll;

    background-color: rgb(255, 255, 255);
    height: fit-content;
    
    position: absolute;
     box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    border-radius: 5px;
    display: flex;
    flex-flow: row;
    bottom: 0;
    align-items: center;
    
    z-index: 2;
    
  }
}

@media screen and (orientation: landscape) {
  .toolbar {
    grid-area: toolbar;
    display: flex;
    flex-flow: column;

    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: fit;
    /* max-height: 80%; */
    width: fit-content;
    position: absolute;
    box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    border-radius: 5px;
    
    overflow: scroll;
  }
}


.toolbar {
  user-select: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.toolbar::-webkit-scrollbar {
  display: none;
}