@media screen and (orientation: portrait) {
  .propertybar {
    grid-area: toolbar;
    margin: 0;
    padding: 0;
    width:100vw;
    overflow-x: scroll;
    bottom:50px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    position: fixed;
     box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    border-radius: 5px;
    display: flex;
    flex-flow: row;

    align-items: center;
    
    z-index: 2;
    
  }
}

@media screen and (orientation: landscape) {
  .propertybar {
    grid-area: toolbar;
    display: flex;
    flex-flow: column;
    right:0;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 50px;
    position: absolute;
     box-shadow: 0 0 2px 1px rgb(230, 230, 230);
    border-radius: 5px;
    
    overflow: scroll;
  }
}


.propertybar {
  user-select: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.propertybar::-webkit-scrollbar {
  display: none;
}