.cloneFrameButton {
    width : 30px;
    height:30px;
   
    margin: 2px;
    background-color: white;
    border-radius: 5px;
    outline: 1px solid rgb(195, 195, 195);
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.cloneFrameButton:hover {
    border: 2px solid rgb(4, 205, 4);
    color: rgb(8, 203, 8);
}
.cloneFrameButton:active {
     user-select: none;
    border: 1px solid rgb(4, 205, 4);
    color: rgb(8, 203, 8);
    scroll-behavior: smooth;
}